.page-section {

    background-color: burlywood;
}

.container {


    justify-content: center;
    background-color: blanchedalmond;
    margin: 0;

}

.text-center {
    background-position: 30cm;
    font-family: 'Rajdhani', sans-serif;
    align-items: center;
    color: palevioletred;
}

.timeline {
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    color: chocolate;
}

.timeline-body {
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Shadows Into Light', cursive;
    font-family: 'Ysabeau SC', sans-serif;
    color: brown;
}

.celebs {

    font-family: 'Belanosima', sans-serif;
    color: gray;
    text-align: center;

}

.celebs-card {
    align-items: center;
    width: 100%;
    display: block;


}

.card {
    align-items: center;
    margin: 10px;
    border-radius: 2rem;
    height: 50%;
    width: 50%;
    overflow: hidden;



}

.card-text {

    font-family: 'Belanosima', sans-serif;
    text-align: center;
    color: rebeccapurple;
    padding: 9px;

}