@import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap');

body {

    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

;

#canvas {
    border: 1px solid black;
    background-image: url('https://i.ibb.co/KF5bfTs/logo.jpg');

}

;




/* Define the animation */
@keyframes flyToCart {
    0% {
        transform: scale(1);
    }

    100% {
        transform: scale(0.2);
    }
}




.top-banner {
    position: relative;
    overflow: hidden;
}

.banner-slides {
    display: flex;
    animation: slideAnimation 10s infinite;
}

.banner-slides img {
    width: 100%;
    height: auto;
}

@keyframes slideAnimation {
    0% {
        transform: translateX(0);
    }

    33.33% {
        transform: translateX(-100%);
    }

    66.66% {
        transform: translateX(-200%);
    }

    100% {
        transform: translateX(0);
    }
}

.navbar {
    background-color: #333;
}

.nav-link {
    color: #fff;
    font-weight: bold;
}

.navbar-brand {
    font-size: 24px;
}

.nav-link:hover {
    color: #ffc107;
}

.navbar-toggler {
    border-color: #fff;
}

.navbar-toggler-icon {
    background-color: #fff;
}

.canvas-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 9999;
}

/* CSS */
@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.top-brands-banner {
    background-color: #f9f9f9;
    padding: 20px;
    text-align: center;
    animation: slideIn 0.5s ease-in-out;
}

.card-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.card {
    width: 100px;
    height: 100px;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    max-width: 100px;
    max-height: 100px;
}

.video-banner {
    position: relative;
    height: 400px;
    background-color: #000;
    overflow: hidden;
}

.video-banner iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}