#LoginForm {
    background-image: url('https://images.pexels.com/photos/7615411/pexels-photo-7615411.jpeg?auto=compress&cs=tinysrgb&w=1600');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

}

.form-box {
    width: 100%;
    max-width: 400px;
    text-align: center;
    margin: 0 auto;
    border-radius: 30px;
    padding: 70px 80px 90px;
    background-color: white;
}


body {
    height: 100%;
    margin: 0;
    padding: 0;

}