table {
    border-collapse: collapse;
    width: 100%;
    height: 100%;
    table-layout: fixed;
}

th,
td {
    border: 1px solid #ddd;
    padding: 8px;
    white-space: nowrap;
}

th {
    background-color: #f2f2f2;
    font-weight: bold;
}